.plant__grid {
    font-size: 1.5rem;
    flex-grow: 3;

    &__plants {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 2.5rem;
        grid-auto-rows: 40rem;
    }

    &__plantCard {
        position: relative;

        & img {
            max-width: 50rem;
            max-height: 30rem;
            object-fit: cover;
            filter: grayscale(35%);

        }

        &__plantLike {
            position: absolute; //relative to &__plantCard
            top: 55px;
            left: 10px;

            border: none;
            outline: none; //remove blue outline on click
            background-color: transparent;
            cursor: pointer;

            & svg {
            height: 3.5rem;
            width: 3rem;
            
            fill: $color-primary-light;
            filter: drop-shadow(20px 20px 15px rgba(0,0,0,0.9));
            }
        }
    }
}