footer {
    background-color: $color-primary-dark;
    min-height: 4rem;
    color: $color-white;
    font-size: 1.5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}