
// FONT IMPORTS ====================================
@font-face {
    font-family: OswaldBold;
    src: url('../../fonts/Oswald-Bold.ttf');
}
@font-face {
    font-family: OswaldExtraLight;
    src: url('../../fonts/Oswald-ExtraLight.ttf');
}
@font-face {
    font-family: OswaldLight;
    src: url('../../fonts/Oswald-Light.ttf');
}
@font-face {
    font-family: OswaldMedium;
    src: url('../../fonts/Oswald-Medium.ttf');
}
@font-face {
    font-family: OswaldRegular;
    src: url('../../fonts/Oswald-Regular.ttf');
}
@font-face {
    font-family: OswaldSemiBold;
    src: url('../../fonts/Oswald-SemiBold.ttf');
}

@font-face {
    font-family: RobotoCondensed-Bold;
    src: url('../../fonts/RobotoCondensed-Bold.ttf');
}
@font-face {
    font-family: RobotoCondensed-Light;
    src: url('../../fonts/RobotoCondensed-Light.ttf');
}
@font-face {
    font-family: RobotoCondensed-Regular;
    src: url('../../fonts/RobotoCondensed-Regular.ttf');
}

// END FONT IMPORTS ====================================

// BASE TYPOGRAPHY =====================================
body {
    font-family: RobotoCondensted-Light, Arial, Helvetica, sans-serif;
    //font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-light-black;
    text-transform: uppercase;
    font-family: OswaldSemiBold;
    font-size: 3.5rem;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--title {
        font-size: 7rem;
        font-family: OswaldSemiBold;
        text-transform: uppercase;
        transform: translate(-50%, -50%);
        color: $color-white;

        position: absolute;
        top: 45%;
        left: 50%;

        @include respond(tab-land) {
            font-size: 6rem;
        }
        @include respond(tab-port) {
            font-size: 4.5rem;
            left: 46%;
        }
        @include respond(phone) {
            font-size: 3rem;
        }
    }
        
    &--sub {
        color: $color-white;
        text-transform: uppercase;
        font-family: RobotoCondensed-Light;

        font-size: 3.6rem;
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond(tab-land) {
            font-size: 3rem;
        }
        @include respond(tab-port) {
            font-size: 2rem;
            left: 47%;
            top: 50%;
        }
        @include respond(phone) {
            font-size: 1.7rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    font-family: OswaldSemiBold;
    color: $color-primary-dark;;
}

.heading-tertiary {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: OswaldLight;
    color: $color-primary-dark;;
}

.paragraph {
    font-size: $default-font-size;

    // Prevent extra spacing at last paragraph
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

// END BASE TYPOGRAPHY =====================================